<%- include parts/headerProfile.ejs %>

  <p id="back">
    <i class="backButton fas fa-arrow-circle-left"></i>
  </p>
  <h1>Bekijk hier al uw bestellingen</h1>

  <table class="table">
    <thead>
      <th>
        User
      </th>
      <th>
        Type
      </th>
      <th>
        Dag
      </th>
      <th>
        Locatie
      </th>
      <th>
        Opmerkingen
      </th>
    </thead>
    <tbody>
      <% bestellingen.forEach(function(bestelling){ %>
        <tr>
          <td>
            <%= bestelling.user %>
          </td>
          <td>
            <%= bestelling.type %>
          </td>
          <td>
            <%= bestelling.dag %>
          </td>
          <td>
            <%= bestelling.locatie %>
          </td>
          <td>
            <%= bestelling.opmerkingen %>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>

  <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-auth.js"></script>
  <script src="javascripts/authScript.js"></script>
  <script src="javascripts/goBackToAccount.js"></script>
  <%- include parts/footer.ejs %>
